body{
    margin: 0;
    padding: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(80, 147, 235);
    font-size: 40px;
}

p{
    font-size: 20px;
    color: grey;
}

a{
    display: flex;
    justify-content: space-around;
    color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}